<div><%= link_to "Home", posts_path %></div>

<%= form_for post do |f| %>
  <%= f.text_field :title %>
<% end %>

<p class="number-to-currency"><%= number_to_currency(100_000) %></p>

<%= image_tag "test.png", title: "title", class: "image_tag" %>
