<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= header %>
    </header>
    <%- flash.each do |type, msg| %>
      <div class="flash <%= type %>"><%= msg %></div>
    <% end %>
    <%= yield :breadcrumb %>
    <%= yield %>
    <%= render_view ::Layouts::AwesomeLayout::FooterView.new %>
  </body>
</html>
